ul{
    margin: 0;
}
.bg-header, .bg-copyright{
    background-color: #2C3E50;
}

.bg-hero,.bg-about{
    background-color: #1ABC9C;
}
.bg-links{
    background-color: #3A546D;
}
.btn-green{
    background-color: #1ABC9C;
}

.hero__img{
    width: 250px;
}

.line{
    width: 150px;
    height: 4px;
}
.separetor i{
    font-size:25px;
}
.bg-line_white{
    background-color: white;
}
.bg-line_dark{
    background-color: #2C3E50;
    color: #2C3E50;
}
.message__container{
    height: 200px;
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.link-green{
    color: #1ABC9C;
}
